@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

html {
  min-height: 100vh;
}

body {
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Source Sans 3', sans-serif;
}

body h1 {
  font-family: 'Playfair Display', serif;
  }

  body h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    }

  body h3 {
  font-size:  1.8rem;
  font-family: 'Nunito', sans-serif;
  max-width: 100vw;
  }

  .container {
    min-height: calc(100vh - 20vh);
    min-width: 100vw;
  }

.footer {
  height: 20vh;
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  }

  .footer-title {
    justify-content: flex-end;
  }
  
.menu-icon {
  width: 40px;
  height: auto;
  filter: invert(35%) sepia(8%) saturate(1054%) hue-rotate(159deg) brightness(98%) contrast(89%);
}

.cover-logo {
  width: 18%;
  height: auto;
  text-align: center;
  justify-content: center;
  display: block; 
  margin: 0 auto; 
}

.home {
  width: 30px;
  height: auto;
  filter: invert(35%) sepia(8%) saturate(1054%) hue-rotate(159deg) brightness(98%) contrast(89%);
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-start{ 
  margin-left: 4.5vw;
}

.navbar-end {
  margin-right: 5vw;
}

.seatingPlanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  min-height: 50px;
  min-width: 80vw;
  background-color: #f0f0f0;
}

.table-buttons {
  display: flex;
  gap: 5px;
}

.guest-container {
  border: 1px dashed #ccc;
  margin: 5px;
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5rem;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  min-height: 50px;
  min-width: 80vw;
}

.guest-item {
  color: rgb(100, 79, 75);
  box-shadow: 0px 2px 4px #666667;
  border-radius: 5px;
  padding: 0.3em 0.5em;
  background-color: whitesmoke;
  text-align: center;
  margin: 5px;
  border: 2px solid transparent;
  text-align: center;
  font-size: 1rem;
}

.guest-item:focus {
  outline: none;
  border: 2px solid #4a9af5;
}

.couple-title {
  font-family: 'Parisienne', cursive;
  font-size: 5rem;
  text-align: center;
}

.couple-date {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}

.countdown {
  text-align: center;
}

.wedding-info-container {
  background-image: url("../assets/wedding-rings.jpeg");
  background-position: center;
  opacity: 0.7;
  padding: 80px;
} 


.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Arial, sans-serif;
  font-size: 36px;
  color: #333;
}

.countdown-digit {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  min-width: 50px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
}

.countdown-mssg {
text-align: center;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10vh 5vw;
  background-color: #FBFEF9;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-item {
  display: flex; 
  align-items: center; 
  white-space: nowrap;
  gap: 10px; 
}

.dashboard-item a {
  display: flex; 
  align-items: center; 
}

.dashboard-icon {
  width: 4vw;
  height: auto;
  vertical-align: middle;
  margin-right: 20px; 
  filter: invert(35%) sepia(8%) saturate(1054%) hue-rotate(159deg) brightness(98%) contrast(89%);
}

.budget-container {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  font-size: medium
}

.budget-container h2 {
  font-size: x-large;
  font-weight: bold;
}

.add-form-costitem {
  display: flex;
  justify-content: space-evenly;
}

.add-form-costitem label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-form-costitem div{
  display: flex;
  align-items: end;
  
}

.overflow-x-auto{
  padding: 4em;
}

.remaining-budget{
  display: flex;
  flex-direction: column;
  align-items: center;
}

td, th {
  font-size: 1rem;
}

.costitem-icons{
  width: 25px;
  height: auto;
  filter: invert(35%) sepia(8%) saturate(1054%) hue-rotate(159deg) brightness(98%) contrast(89%);
}

.table-assignment-icons {
  width: 1vw;
  height: auto;
  filter: invert(35%) sepia(8%) saturate(1054%) hue-rotate(159deg) brightness(98%) contrast(89%);
  text-align: end;
}

.table-options {
  display: flex;
  gap: 12px;
}

.table-options button {
  width: 5vw;
  height: auto;
  bottom: 0;
}

.add-form-vendor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); 
  grid-column-gap: 100px;
  grid-row-gap: 20px;
  padding: 50px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.add-form-vendor label{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.add-form-vendor div{
  display: flex;
  justify-content: end;
}

.add-form-guest{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  padding: 20px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.add-form-guest label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-form-guest div{
  display: flex;
  justify-content: end;
}

.details-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 25px;
  justify-items: center;
  margin-right: 25vw;
  margin-left: 25vw;
}

.details-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.details-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: large;
}

.details-btn {
  display: flex;
}

.details-icons {
  width: 25px;
  height: auto;
  filter: invert(35%) sepia(8%) saturate(1054%) hue-rotate(159deg) brightness(98%) contrast(89%);
}

.edit-guest-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 20px;
  padding: 25px;
}

.edit-guest-container label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-guest-container div{
  display: flex;
  justify-content: center;
}

.edit-vendor-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 20px;
  margin-right: 15vw;
  margin-left: 15vw;
}

.edit-vendor-container label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-vendor-container div{
  display: flex;
  justify-content: center;
}

.edit-costitem-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 20px;
  margin: 15vh 12vw;
  
}

.edit-costitem-container label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-costitem-container div{
  display: flex;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.signup-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.signup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5vh 0px;
}

.signup label {
  display: flex;  
  flex-direction: column;
  padding: 10px;
}

.signup-btn-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.login {
  background-image: url("../assets/background-signup-blurred.png");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 40vw;
  text-align: center;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.login-container form{
  padding-top: 2vh;
}

section {
  padding: 50px 0;
  text-align: center;
}

#weddingOrganization {
  background-color: #FBFBFF;
}

#aboutUs {
  background-color: #ffddd0;
}

#contact {
  background-color: #FBFBFF;
}

.developer-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}

wedding-organization-container {
  padding: 50px;
  text-align: center;
}

.wedding-organization-container h1 {
  color: #EF7244;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.wedding-organization-container p {
  color: #333;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.organization-section {
  margin-top: 40px;
}

.functionality-section {
  margin-bottom: 30px;
}

.functionality-section h3 {
  color: #BD6F29;
  font-size:  1.8rem;
  margin-bottom: 10px;
  font-family: 'Nunito', sans-serif;
}

.functionality-section p {
  color: #333;
  font-size: 1.1rem;
  line-height: 1.6;
}

.sign-up-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #EF7244;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease-in-out;
}

.sign-up-button:hover {
  background-color: #BD6F29;
}

.about-us-container {
  padding: 50px;
  text-align: center;
}

.about-us-container h1 {
  color: #EF7244;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-us-container p {
  color: #333;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.contact-page h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.contact-intro {
  margin-bottom: 30px;
}

.contact-columns {
  display: flex;
  justify-content: space-around;
}

.contact-column {
  flex: 1;
}

.contact-column h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.contact-column a {
  color: #007bff;
  text-decoration: none;
}

.contact-column a:hover {
  text-decoration: underline;
}

.social-media-icons {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 2vw;
  height: auto;
  filter: invert(35%) sepia(8%) saturate(1054%) hue-rotate(159deg) brightness(98%) contrast(89%);
}

.table-name {
  margin-right: 20px;
  margin-left: 20px;
}

.radial-progress {
  margin: 40px;
}
.addtable {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px;
}

.addtable form {
  justify-content: space-between; 
}

.addtable form button {
  margin-left: 25px;
}

.addtable form label {
  margin-right: 25px;
}

.edittable {
  display: flex;
  margin-bottom: 25px;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
}

.edittable input {
  margin-left: 25px;
  margin-right: 25px;
}

.overflow-x-auto{
  margin-left: 5vw;
  margin-right: 5vw;
  padding-left: 0;
  padding-right: 0;
} 

.filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 3vh;
}

.filter-list input {
  margin-right: 20vw;
  margin-left: 3vw;
}

.filter-costitems {
  margin-right: 5vw;
  margin-left: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-costitems input {
  margin-left: 1vw;
  margin-right: 2vw;
}

.filter-costitems select {
  margin-left: 1vw;
  margin-right: 5vw;
}

.filter-costitems button {
  margin-left: 2vw;
  
}

