@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Lie-to-Me';
  src: url('../assets/fonts/Lie-to-Me-\ OTF.otf') format('truetype');
}

html {
  min-height: 100vh;
}

body {
  position: relative;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  height: 178px;
  width: 100%;
  }
  
.menu-icon {
  width: 40px;
  height: auto;
  filter: invert(35%) sepia(8%) saturate(1054%) hue-rotate(159deg) brightness(98%) contrast(89%);
}

.cover-logo {
  width: 18%;
  height: auto;
  text-align: center;
  justify-content: center;
  display: block; 
  margin: 0 auto; 
}

.home {
  width: 30px;
  height: auto;
  filter: invert(35%) sepia(8%) saturate(1054%) hue-rotate(159deg) brightness(98%) contrast(89%);
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
}



.seatingPlanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: 80px;
}

.guest-container {
  margin: 5px;
  list-style: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.5rem;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
}

.guest-item {
  color: rgb(100, 79, 75);
  box-shadow: 0px 2px 4px #4a4c4e;
  border-radius: 5px;
  padding: 0.3em 0.5em;
  background-color: whitesmoke;
  text-align: center;
  margin: 5px;
  border: 2px solid transparent;
  text-align: center;
}

.guest-item:focus {
  outline: none;
  border: 2px solid #4a9af5;
}

.couple-title {
  font-family: "Lie-to-Me";
  font-size: 250%;
  text-align: center;
}

.couple-date {
  font-family: "Lie-to-Me";
  text-align: center;
}

.countdown {
  text-align: center;
}

.wedding-info-container {
  background-image: url("../assets/wedding-rings.jpeg");
  padding: 80px;
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Arial, sans-serif;
  font-size: 36px;
  color: #333;
}

.countdown-digit {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  min-width: 50px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
}

.countdown-mssg {
text-align: center;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 50px; 
  background-color: #FBFEF9;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-item {
  display: flex; 
  align-items: center; 
  white-space: nowrap;
  gap: 10px; 
}

.dashboard-item a {
  display: flex; 
  align-items: center; 
}

.dashboard-icon {
  width: 4vw;
  height: auto;
  vertical-align: middle;
  margin-right: 20px; 
  filter: invert(35%) sepia(8%) saturate(1054%) hue-rotate(159deg) brightness(98%) contrast(89%);
}

.budget-container {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  font-size: medium
}

.budget-container h2 {
  font-size: x-large;
  font-weight: bold;
}

.add-from-costitem {
  display: flex;
  justify-content: space-evenly;
}

.add-from-costitem label {
  display: flex;
  flex-direction: column;
}

.overflow-x-auto{
  padding: 4em;
}

.remaining-budget{
  display: flex;
  flex-direction: column;
  align-items: center;
}

td, th {
  font-size: 1rem;
}

.costitem-icons{
  width: 25px;
  height: auto;
  filter: invert(35%) sepia(8%) saturate(1054%) hue-rotate(159deg) brightness(98%) contrast(89%);
}

.table-assignment-icons {
  width: 25px;
  height: auto;
  filter: invert(35%) sepia(8%) saturate(1054%) hue-rotate(159deg) brightness(98%) contrast(89%);
  text-align: end;
}

.table-options {
  display: flex;
  gap: 12px;
}

.table-options button {
  width: 5vw;
  height: auto;
  bottom: 0;
}

.container {
  min-height: calc(100vh - 178px);
}

