@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Lie-to-Me';
  src: url('../assets/fonts/Lie-to-Me-\ OTF.otf') format('truetype');
}

.menu-icon {
  width: 40px;
  height: auto;
  filter: invert(35%) sepia(8%) saturate(1054%) hue-rotate(159deg) brightness(98%) contrast(89%);
}

.cover-logo {
  width: 18%;
  height: auto;
  text-align: center;
  justify-content: center;
  display: block; /* Asegúrate de que el logo sea un bloque para aplicar márgenes automáticos */
  margin: 0 auto; 
}

.home {
  width: 30px;
  height: auto;
  filter: invert(35%) sepia(8%) saturate(1054%) hue-rotate(159deg) brightness(98%) contrast(89%);
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
 background-color: #FBFEF9;
}

.seatingPlanner {
  text-align: center;
}

.guest-container {
  /* border: 1px dotted pink; */
  margin: 0;
  list-style: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.5rem;

  display: inline-flex;
  flex-direction: row;
}

.guest-item {
  color: rgb(100, 79, 75);
  box-shadow: 0px 2px 4px #4a4c4e;
  border-radius: 5px;
  padding: 0.3em 0.5em;
  background-color: whitesmoke;
  text-align: center;
  margin: 5px;
  border: 2px solid transparent;
}

.guest-item:focus {
  outline: none;
  border: 2px solid #4a9af5;
}

.couple-title {
  font-family: "Lie-to-Me";
  font-size: 250%;
  text-align: center;
}

.couple-date {
  font-family: "Lie-to-Me";
  text-align: center;
}

.countdown {
  text-align: center;
}

.budget-container {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  font-size: medium
}

.budget-container h2 {
  font-size: x-large;
  font-weight: bold;
}

.add-from-costitem {
  display: flex;
  justify-content: space-evenly;
}

.add-from-costitem label {
  display: flex;
  flex-direction: column;
}

.overflow-x-auto{
  padding: 4em;
}

.remaining-budget{
  display: flex;
  flex-direction: column;
  align-items: center;
}

td, th {
  font-size: 1rem;
}

.costitem-icons{
  width: 25px;
  height: auto;
  filter: invert(35%) sepia(8%) saturate(1054%) hue-rotate(159deg) brightness(98%) contrast(89%);
}
