@media (max-width: 480px) {
    .filter-list {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 3vh;
      }
      
    .filter-list button {
        grid-column: 1 / span 2;
        margin-top: 1vh;
        margin-left: 30vw;   
        margin-right: 30vw;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .filter-list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 3vh;
      }
      
      .filter-list input {
        margin-right: 20vw;
        margin-left: 3vw;
      }

}

@media (min-width: 1025px) {
    .filter-list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 3vh;
      }
      
      .filter-list input {
        margin-right: 20vw;
        margin-left: 3vw;
      }

}

@media (max-width: 480px) {
    .filter-costitems {
        margin-right: 5vw;
        margin-left: 5vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        align-items: center;
        justify-items: center;
      }

      .filter-costitems button {
        margin-top: 2vh;
        margin-right: 30vw;
        margin-left: 30vw;
      }

      .filter label{
        text-align: center;
      }

}

@media (min-width: 481px) and (max-width: 1024px) {
    .filter-costitems {
        margin-right: 5vw;
        margin-left: 5vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        align-items: center;
        justify-items: center;
      }

      .filter-costitems button {
        margin-top: 2vh;
        margin-right: 30vw;
        margin-left: 30vw;
      }

      .filter label{
        text-align: center;
      }

}

@media (min-width: 1025px) {
    .filter-costitems {
        margin-right: 5vw;
        margin-left: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .filter-costitems input {
        margin-left: 1vw;
        margin-right: 2vw;
      }
      
      .filter-costitems select {
        margin-left: 1vw;
        margin-right: 5vw;
      }
      
      .filter-costitems button {
        margin-left: 2vw;
        
      }

}









  